@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Roboto;
	src: url(/fonts/roboto/100.ttf);
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/fonts/roboto/300.ttf);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/fonts/roboto/400.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/fonts/roboto/500.ttf);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/fonts/roboto/700.ttf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/fonts/roboto/900.ttf);
	font-weight: 900;
	font-style: normal;
}

html {
	font-family: Roboto;
	@apply text-gray-600;
}

html,
body,
#app {
	margin: 0px;
	height: 100%;
}

.button {
	@apply min-w-[100px] box-border px-5 py-[6px] text-sm text-neutral-400 rounded flex items-center justify-center;

	&--primary {
		@apply text-white bg-gray-900;
	}
}

.resource-form {
	@apply box-border grid w-full gap-6 p-4 my-4 bg-white rounded shadow;
}

.formulate-form {
	.formulate-form-error {
		@apply text-xs text-red-400;
	}

	.form__field-group {
		@apply grid gap-6;
	}
}

.formulate-input {
	.formulate-input-label {
		@apply block mb-1 text-sm font-medium;
	}

	.formulate-input-element > * {
		@apply box-border block w-full px-3 py-2 text-sm bg-white border border-gray-300 rounded h-9;
	}

	.formulate-input-errors {
		@apply mt-1;

		.formulate-input-error {
			@apply text-xs text-red-400;
		}
	}
}
